* {
    scroll-behavior: smooth;
}
#brand img{
    border-radius: 50%;
}
#exp .card {
    border: 2px solid #dddd;
    height: 90px;
    padding: 10px;
}
#select .card {
    border: 1px solid grey;
    position: relative;
}

#first, #second, #third, #fourth {
    align-items: center;
}
#first, #second, #third, #fourth:hover {
    cursor: pointer;
}
#signupbody {
    gap: 200px;
}
#loginbody {
    gap: 200px;
}
#checkbox a{
 text-decoration: none;
 color: rgb(51, 1, 38);  
}
.button button {
    background-color: rgb(51, 1, 38);
    color: white;
    width: 420px;
}
.image img {
    width: 72px;
    height: 72px;
}

#create a{
    text-decoration: none;
    color: rgb(51, 1, 38);
}
#login a {
    text-decoration: none;
    color: rgb(51, 1, 38);
}
#login {
    margin-top: 100px;
}
.card {
    border: none;
    display: flex;
    justify-content: center;
}